.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

#_navbar { display: none }

.avatar { width:16rem; height:16rem}

.flex-grid {
  display: flex;
  flex-flow: row wrap;
}

.flex-grid .col {
  display: inline-block;
  flex: 1 0 300px;
  margin: 0 1rem 1.125rem;
  max-width:317px;
  max-height:510px;
}

.flex-grid .col:hover{
  transform:translateY(-5px);
}

.flex-grid .home-col{
  max-width:500px;
  display: inline-block;
  flex: 1 0 300px;
  margin: 0 1rem 1.125rem;
  max-width:500px;
  max-height:510px;
}

.flex-grid .home-col:hover{
  transform:translateY(-5px);
}

.home-grid-content{
  border-radius: 5px;
  height:210px;
  box-shadow: rgba(0,0,0,0.2) 0.125rem 0.125rem 1rem;
  overflow:hidden;
  background-color:rgba(0,0,0,0.1);
  background-clip:content-box;
  max-width:300px
}

// strangely, needs to be changed so that the drawer doesn't overlap the main contents??
#_drawer{
  --hy-drawer-peek-width:21rem;
}

.home-grid-content .annotation-wrapper{
  top:-5px;
}

.grid-content .annotation-wrapper{
  top:-5px;
}

.grid-content{
  border-radius: 5px;
  height:280px;
  box-shadow: rgba(0,0,0,0.2) 0.125rem 0.125rem 1rem;
  overflow:hidden;
  background-color:rgba(0,0,0,0.1);
  background-clip:content-box;
  max-width:300px
}

#_main{
  max-width:1200px;
  margin-left: 25rem;
  margin-right: 4rem;
}

.grid-content .post-title{
  margin-bottom:0px;
}

.img-wrapper{
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  max-height:190px;
}

.content .aspect-ratio img{
  height:100%;
}

.sidebar-nav{
  margin-top:35px;
}

.sidebar-social{
  margin-top:-30px;
  margin-bottom:-20px;
}

.sidebar-social>ul>li>a {
  border-bottom:0px;
  color:rgba(255,255,255,0.5)
}

.sidebar-social>ul>li>a:hover {
  color:white
}

.sidebar-about>a.sidebar-title::after {
  width:18rem
}

.my-footer{
  position:absolute;
  width:100%;
  margin-bottom:0px;
}