.myh3{
  font-size:normal;
  margin: 0;
  font-variant-caps:all-petite-caps;
  margin-bottom:0.5rem;
}

.myh3::before, .myh3::after{
  margin-left:4px;
  margin-right:4px;
  background-color:black;
  content:"";
  height:2px;
  width:25%;
  display:inline-block;
  vertical-align:middle;
}

.list {
  display:flex;
  width:40%;
  justify-content: space-between;
  margin:0;
  padding:0;
  left:30%;
  position:relative;
  text-align:center;
  list-style: none;
  margin-bottom:1.5rem;
  font-size:large;
}

.listItem {
  display:flex;
  transition: transform 0.2s ease-in-out;
}

.listItem:hover {
  transform: scale(1.2);
}