.container {
  width:100%;
  display:flex;
  height: 100vh;
  max-width:1250px;
  }
  
.sidebar {
  position:fixed;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  width:240px;
  padding-left:10px;
  padding-right:10px;
  height:100vh;
  background-color:white;
  justify-content: space-between;
  text-align:center;
  align-items: center;
}

.header{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.header p{
  color:gray;
  font-size:smaller;
  margin-top:1.5rem;
}

.profilePicture{
  margin-top:1rem;
  margin-bottom:0.5rem;
  border-radius: 100%;
}

.content{
  max-width:calc(1010px - 1rem);
  margin-left:240px;
  padding-left:1rem;
  padding-top:1rem;
  padding-right:1rem;
  display:flex;
  flex-direction:column;
  flex-grow:1;
}

.titleName{
  font-family: serif;
  text-transform: uppercase;
}

.titleName::after{
  content:"";
  background-color:black;
  width:7px;
  height:7px;
  border-radius:100%;
  display:block;
  left:50%;
  position:absolute;
  margin-top:0.5rem;
}

.footer {
  text-align: center;
  align-content: center;
  margin-bottom:2rem;
  font-size:small;
  width:100%;
}

.backToHome {
  display:flex;
  margin: 3rem 0 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .content{
    max-width:unset;
    width:100%;
    margin-left:unset;
  }
  
  .sidebar {
    position:unset;
    width: 100%;
  }
}