.container {
  width:100%;
  display:flex;
  margin-top:1rem;
  margin-left:0.5rem;
  height: 100vh;
  }
  
.sidebar {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  min-width:300px;
  justify-content: space-between;
  height:95vh;
}

.footer {
  text-align: center;
  align-content: center;
}

.backToHome {
  margin: 3rem 0 0;
}