:root {
    --neutral: hsl(0, 0%, 4.9%);
    --contrast: hsl(0, 0%, 100%);
    --brand: hsl(207, 90%, 54%);
    --error: hsl(0, 71%, 78%);
    --warning: hsl(42, 82%, 56%);
    --success: hsl(162, 95%, 48%);
    --text-neutral: hsla(0, 0%, 4.9%, 1);
    --icon-neutral: hsla(0, 0%, 90%, 0.6);
    --stroke-neutral-strong: hsla(0, 0%, 90%, 0.45);
    --stroke-neutral-weak: hsla(0, 0%, 90%, 0.1);
    --background-neutral: hsla(0, 0%, 90%, 0.05);
    --fill-neutral: hsla(0, 0%, 90%, 0.05);
    --text-contrast: hsla(0, 0%, 100%, 1);
    --icon-contrast: hsla(0, 0%, 100%, 0.8);
    --stroke-contrast-strong: hsla(0, 0%, 100%, 0.8);
    --stroke-contrast-weak: hsla(0, 0%, 100%, 0.2);
    --background-contrast: hsla(0, 0%, 100%, 0.05);
    --fill-contrast: hsla(0, 0%, 100%, 0.05);
    --text-brand: hsla(207, 90%, 54%, 1);
    --icon-brand: hsla(207, 90%, 54%, 0.8);
    --stroke-brand-strong: hsla(207, 90%, 54%, 0.8);
    --stroke-brand-weak: hsla(207, 90%, 54%, 0.2);
    --background-brand: hsla(207, 90%, 54%, 0.05);
    --fill-brand: hsla(207, 90%, 54%, 0.05);
    --text-error: hsla(0, 71%, 78%, 1);
    --icon-error: hsla(0, 71%, 78%, 0.8);
    --stroke-error-strong: hsla(0, 71%, 78%, 0.8);
    --stroke-error-weak: hsla(0, 71%, 78%, 0.2);
    --background-error: hsla(0, 71%, 78%, 0.05);
    --fill-error: hsla(0, 71%, 78%, 0.05);
    --text-warning: hsla(42, 82%, 56%, 1);
    --icon-warning: hsla(42, 82%, 56%, 0.8);
    --stroke-warning-strong: hsla(42, 82%, 56%, 0.8);
    --stroke-warning-weak: hsla(42, 82%, 56%, 0.2);
    --background-warning: hsla(42, 82%, 56%, 0.05);
    --fill-warning: hsla(42, 82%, 56%, 0.05);
    --text-success: hsla(162, 95%, 48%, 1);
    --icon-success: hsla(162, 95%, 48%, 0.8);
    --stroke-success-strong: hsla(162, 95%, 48%, 0.8);
    --stroke-success-weak: hsla(162, 95%, 48%, 0.2);
    --background-success: hsla(162, 95%, 48%, 0.05);
    --fill-success: hsla(162, 95%, 48%, 0.05);
}